.btn {
  min-width: 115px;
  padding: 10px 13px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  background-color: #0089e5;
  transition: ease 0.2s;
  
  &:hover,
  &:active {
    background-color: #00a2f4;
    transition: ease 0.2s;
  }
}
