@media (max-width: 1182px) {
  .wrapper {
    width: 100%;
  }
  .category__item {
    width: 239px;
    height: 239px;
    
    &--wide {
      width: 495px;
    }
  }
  .catalog__item {
    width: 238px;
  }
  .subscribe {
    width: 639px;
  }
  .subscribe__input {
    width: 350px;
  }
  .slider__info {
    left: 10px;
  }
  .menu__btn {
    display: block;
    width: 100%;
    background-color: #0089e5;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    line-height: 50px;
    text-transform: uppercase;
  }
  .menu__wrap {
    display: none;
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 1px;
      background-color: #fff;
    }
  }
  .menu__item {
    flex-grow: 0;
    width: 100%;
    
    &:hover {
      .menu__sublist {
        display: none;
        }
      }
  }
  .menu__link {
    text-align: left;
    padding-left: 0;
    padding-right: 30px;
  }
  .menu__list {
    flex-wrap: wrap;
  }
  .menu__subbtn {
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    width: 30px;
    height: 50px;
    background-image: url(../img/icon-down.png);
    background-repeat: no-repeat;
    background-size: 8px 5px;
    background-position: center;
    
    &--down {
      transform: rotate(180deg);
    }
  }
  .search {
    display: none;
  }
  .menu--opened {
    .search {
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .menu__sublist--more,
  .menu__sublist {
    position: static;
    transform: none;
    background-color: rgba(255,255,255,0);
    border: none;
    box-shadow: none;
    width: 100%;
    padding-left: 20px;
    padding-top: 0;
  }
  .menu__column,
  .menu__subitem {
    border: none;
    
    a {
      color: #fff;
      font-size: 14px;
      padding: 5px 0;
    }
  }
  .menu__column {
    width: 100%;
  }
  .menu__sublink--more {
    display: none;
  }
  .menu__hide {
    display: block;
  }
  .menu__sublink {
    padding-left: 20px !important;
  }
  .menu__title {
    display: block;
    margin-top: 10px;
  }
  .menu__title,
  .menu__sublink {
    &:hover,
    &:active {
      color: #fff;
    }
  }
}

//---------------------------------
@media (max-width: 1022px) {
  .slider__text {
    font-size: 18px;
  }
  .slider__title {
    font-size: 30px;
  }
  .slider__info {
    width: 50%;
  }
  .category__item--wide {
    width: 239px;
  }
  .catalog__item {
    width: 235px;
    
    &:nth-child(4) {
      display: none;
    }
    &:nth-child(3) {
      margin-right: 0;
    }
  }
  .about__block img {
    display: none;
  }
  .about__block p {
    width: 100%;
    padding-left: 0;
  }
  .footer__wrap {
    flex-wrap: wrap;
    
    &--center {
      justify-content: flex-start;
    }
  }
  .subscribe {
    width: 100%;
    justify-content: space-between;
  }
  .footer__phones {
    margin-right: 30px;
  }
  .footer__item {
    display: none;
  }
  .footer__menu {
    display: block;
  }
  .brand__slide {
    width: 185px;
  }
}

//---------------------------------
@media (max-width: 766px) {
  .header__link--register,
  .header__menu,
  .header__user,
  .header__phones .link {
    display: none;
  }
  .header__top .header__wrap {
    padding: 0;
  }
  .header__login {
    width: 100%;
  }
  .header__top {
    background-color: #e0e2e5;
  }
  .header__basket-mobile,
  .header__compare-mobile,
  .header__phone-mobile,
  .header__login .header__link--login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50px;
    margin-left: 0;
    font-size: 0;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    transition: ease 0.2s;
    
    i {
      display: block;
      width: 20px;
      height: 20px;
      background-image: url(../img/head_icon_mobile.png);
      background-repeat: no-repeat;
    }
    
    &:hover,
    &:active {
      background-color: #fbfbfb;
      transition: ease 0.2s;
    }
  }
  .header__login .header__link--login i {
    background-position: 0 0;
  }
  .header__basket-mobile i {
    background-position: -20px 0;
  }
  .header__compare-mobile i {
    background-position: -40px 0;
  }
  .header__phone-mobile i {
    background-position: -60px 0;
  }
  .slider__info {
    width: 90%;
    text-align: center;
  }
  .slider__title {
    font-size: 20px;
  }
  .slider__text {
    font-size: 14px;
  }
  .slider__img {
    display: none;
  }
  .category__list {
    justify-content: space-around;
  }
  .category__info {
    width: 50%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .category__benefits {
    flex-wrap: wrap;
    justify-content: center;
  }
  .catalog__item {
    &:nth-child(3) {
      margin-right: 10px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(4) {
      display: flex;
    }
  }
  .service__item {
    width: 50%;
    padding-left: 0;
  }
  .service__list {
    justify-content: flex-start;
  }
  .about {
    display: block;
  }
  .about__company,
  .news {
    width: 100%;
  }
  .news .title {
    margin-top: -8px;
  }
  .brand {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
  .subscribe {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .footer__menu,
  .footer__info,
  .subscribe__title {
    width: 100%;
  }
  .subscribe__btn {
    width: 156px;
  }
  .subscribe__input {
    width: 62%;
  }
  .footer__menu {
    margin-bottom: 25px;
  }
  .footer .social {
    .link {
      text-align: left;
    }
    .social__item {
      margin-left: 0;
      margin-right: 10px;
    }
  }
  .slider__item {
    height: 400px;
  }
  .slider__bg {
    height: 100%;
    object-fit: cover;
  }
  .catalog {
    justify-content: space-around;
  }
}

//--------------------------------
@media (max-width: 480px) {
  .header__middle {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .header__phones {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .category__info {
    width: 100%;
  }
  .tabs__title {
    flex-direction: column;
  }
  .tabs__name {
    margin-bottom: 10px;
  }
  .catalog {
    justify-content: center;
  }
  .catalog__item {
    margin-right: 0;
  }
  .service__item {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .subscribe__btn {
    width: 35%;
    min-width: auto;
    font-size: 11px;
  }
  .footer__wrap--center,
  .footer__phones {
    margin-bottom: 20px;
  }
  .modal__wrap {
    display: block;
  }
  .modal__sign {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-right: none;
    border-bottom: 1px solid #e8e8e8;
  }
  .brand {
    width: 350px;
  }
  .brand__slide {
    width: 175px;
  }
}
